#Masukkan{
    background-color:#198754;
    text-decoration-color: white;
    padding-bottom: 3rem;
    text-align: center;
}
#pengertian{
    padding-top: 4rem;
    background-color: #83ee83;
    padding-top: 6rem;
}