#pengertian{
    padding-top: 4rem;
    background-color: #83ee83;
  }
  #pengertian h1{
    height: 140px;
  }

#sifat{
  

}
#sifat .benda{
  margin-left: 20px;

}
#perubahan{
  background-color: #83ee83;
  padding-top: 3rem
}
#macam{
  background-color:white;
}
#masukkan{
  background-color:#198754 ;
  text-decoration-color: white;
  padding-bottom: 3rem;
  text-align: center;
}
section{
  padding-top: 5rem;
  cursor: pointer;
}